# Dependencies
node_modules/
calc/node_modules/
import/node_modules/

# Build output
calc/dist/
import/dist/
calc/.tsbuildinfo
import/.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS junk
.DS_Store
.idea/
.vscode/
